# change app id in angularApp.js (new payment form method)
{
  "development": {
    "squareApplicationId": "",
    "squareAccessToken": ""
  },
  "production": {
    "squareApplicationId": "",
    "squareAccessToken": ""
  }
}