/* SQ Payment Form */
.sq-input {
  border: 1px solid rgb(223, 223, 223);
  outline-offset: -2px;
  margin-bottom: 5px;
}
.sq-input--focus {
  /* how your inputs should appear when they have focus */
  outline: 5px auto rgb(59, 153, 252);
}
.sq-input--error {
  /* how your inputs should appear when invalid */
  outline: 5px auto rgb(255, 97, 97);
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.show-grid.row {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.payment-form {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px;
  border: 1px solid #eee;
  background: #eee;
}

.add-card-success {
  padding: 10px;
  margin: 10px;
  width: 100%;
  background: #98FB98
}

.content-right {
  border-left: 1px solid #eee;
}

.helper-text {
  font-style: italic;
}

.container-fluid.main-body {
  width: 60%;
  padding: 35px 35px 35px 35px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}



