<div class="row">
  <div class="col-sm-6">
    <h5 class="control-label">Find your customer profile:</h5>
    <form ng-submit="customersByEmail()"  ng-class="{'has-warning': show_add_customer}">
      <div class="input-group">
        <input type="email" ng-focus="" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="email">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">Search</button>
        </span>
      </div>
      <span id="helpBlock2" ng-show="show_add_customer" class="help-block">
        There are no profiles with that email address...
      </span>
    </form>
  </div>
  <div class="col-sm-6 content-right" ng-show="show_add_customer">
    <h5>Add your customer profile:</h5>
    <form ng-submit="addCustomer()" >
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name" ng-model="first_name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name" ng-model="last_name">
      </div>
      <button type="submit" class="btn btn-primary">Add customer profile</button>
    </form>
  </div>
</div>

<div class="row show-grid" ng-show="filtered_customers.length>0">
  <p class="helper-text">Select your customer profile...</p>
  <div class="col-sm-4" ng-repeat="customer in filtered_customers">
      <a type="button" class="btn btn-default btn-lg btn-block" href="#/customers/{{customer.id}}">{{customer.given_name}} {{customer.family_name}}</a>
  </div>
</div>
